name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4

    - name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -r requirements-dev.txt

    - name: Run unit tests
      run: |
        pytest tests/ -v

    - name: Test 1D example
      run: |
        MPLBACKEND=Agg python examples/01_linear_example.py

    - name: Test 2D example
      run: |
        MPLBACKEND=Agg python examples_2d/01_nonlinear_example.py
